{% extends "layout.html" %}

{% block head_content %}
{% endblock %}

{% block main_content %}
<h1>Movie Data</h1>
    {% if movies_data %}
        <table class="table">
            <colsgroup>
                <col style="width: 60%">
                <col style="width: 25%">
                <col style="width: 15%">
            </colsgroup>
            <thead>
                <th class="table__cell table__cell--header">Title</th>
                <th class="table__cell table__cell--header">Release Date</th>
                <th class="table__cell table__cell--header"></th>
            </thead>
            <tbody>
                {% for movie in movies_data %}
                    <tr>
                        <td class="table__cell">
                            <p class="table__movieTitle">{{ movie.title }}</p>
                            <p class="table__movieDirector">{{ movie.director }}</p>
                        </td>
                        <td class="table__cell">{{ movie.year }}</td>
                        <td class="table__cell"><a href="#" class="table__link">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
